.container1 {
  display: flex !important;
  height: 100vh;
  /* background-image: url('./assets/img/about.jpg'); */
  /* background-color: #ECF0F5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */

  /* margin-top: 10px; */
}
.popupform2 {
  width: 100%;
}
button.productListEdit{
  height: 30px;
  display: flex;
  align-items: center;
  padding: 10px 30px;
  color: #fff !important;
  text-transform: capitalize;
  font-weight: 600;
  border-radius: 12px;
  justify-content: center;


}
input[type="text"] {
  width: 99%;
  height: 40px;
  border: 1px solid bisque;
}

textarea {
  border: 1px solid bisque;
}

h5 {
  display: block;
  font-size: 0.83em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 600;
}

.css-binzgt {
  margin-top: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff !important;
}

.link {
  text-decoration: none;
  color: inherit;
}

.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgb(251, 251, 255);
  position: sticky;
  top: 50px;
  border-right: 1px solid lightgray;
  margin-right: 20px;
  overflow: scroll;
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
  overflow: auto;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: rgb(187, 186, 186);
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(240, 240, 255);
  color: black;
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
  color: rgb(255, 255, 255);

}

.sidebarIcon:hover {
  margin-right: 5px;
  font-size: 20px !important;
  color: inherit;
}


.sbutton {
  cursor: pointer;
  padding-left: 10px;
}

.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  margin-top: -16px;
  font-size: 1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  position: relative;
  cursor: text;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  position: relative;
  border-radius: 4px;
}

.sliderbutton {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

img.mainlogo {
  margin-top: 20px;
  margin-left: 44%;
  /* height: 140px; */
  /* width: 250px; */
  /* margin: unset; */
}

.textboxflex {
  display: flex;
  justify-content: space-between;
}

span.spanclass {
  height: 100px;
  flex: 1;
  margin-left: 10px;
}

span.spanclass1 {
  height: 220px !important;
  flex: 1;
  margin-left: 10px;
}

.largetext {
  height: 100px !important;
  margin-bottom: 50px;
}

.abc {
  background-color: #fff;
  display: none;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90% !important;
  background: rgb(247, 245, 245) !important;
  color: var(--bs-modal-color);
  pointer-events: auto;
  /* background-color: var(--bs-modal-bg); */
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
  margin: auto !important;
}

.modal-header {
  background: rgb(211, 211, 211) !important;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-modal-header-padding);
  border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
}

.h2, h2 {
  font-size: 1.75rem;
  color: #000;
}

select {
  word-wrap: normal;
  height: 35px;
  width: 120px;
  text-align: center;
}

